<div class="container">
  <center><h1>Welcome to Cheryll's Link Shortener!</h1></center>
  <center><h2>To begin please log in or sign up [:</h2></center>

  <h3>Try logging in?</h3>
  <form action="/login" method="post">
    Email: <input type="text" name="user[email]"><br>
    Password: <input type="password" name="user[password]"><br>
    <input type="submit" value="Login">
  </form></br>

   <h3>No luck? Sign up!</h3>
  <form action="/signup" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Sign me up!">
  </form>


</div>